
# Editors
/.idea/
/.vscode/

# Docker
/docker/apache/logs/*
!/docker/apache/logs/.gitkeep

# Vendors
/project/vendor/
/project/node_modules/
/project/public/vendor/
/project/composer.lock

# Project
/project/storage/cache/*
!/project/storage/cache/.gitkeep
