{% extends "layouts/base.html.twig" %}

{% block title %}Redirect Tracker{% endblock %}

{% block content %}

    <section class="center-container">
        <section class="wrapper">

            <section class="content-box">
                <section class="header">Redirect Tracker</section>
                <section class="description">
                    <p>Please paste the URL you want to check.</p>
                </section>
                <section class="content">



                </section>
            </section>

        </section>
    </section>

{% endblock %}
