{% extends "layouts/base.html.twig" %}

{% block title %}Redirect Tracker{% endblock %}

{% block content %}

    <section class="center-container">
        <section class="wrapper">

            <section class="content-box">
                <section class="header">Redirect Tracker</section>
                <section class="description">
                    <p>Please paste the URL you want to check.</p>
                </section>
                <section class="content">

                    <form class="form" action="/" method="POST">
                        <section class="row">
                            <section class="col-sm-12 col-md-8">
                                <input type="text" name="inputUrl" id="inputUrl" class="form-control" placeholder="https://google.com">
                            </section>
                            <section class="col-sm-12 col-md-4">
                                <button type="submit" class="btn btn-primary btn-block">Check!</button>
                            </section>
                        </section>
                    </form>

                </section>
            </section>

        </section>
    </section>

{% endblock %}
